.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: absolute;
  width: 100%;
  z-index: 10;
  background: transparent;
}

.logo {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.2s ease-in-out;
}

.nav-links li a:hover {
  color: #24aae1;
}
