.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #033c86;
  padding: 16px 32px;
  color: white;
}

.navbar-logo img {
  height: 48px;
  width: auto;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-links li a:hover {
  color: #24aae1;
}
